/* Resetando o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color:#333;
    line-height: 1.6;
}

/* Navegação */
nav {
    background-color: #4CAF50;
    padding: 5px 20px; /* Diminuindo o padding para reduzir a altura */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .navbar-nav .nav-link {
    color:  #000000;
    font-size: 1rem; /* Diminuindo o tamanho da fonte */
    font-weight: bold;
    margin-right: 15px;
    padding: 8px 15px; /* Ajustando o padding para diminuir a altura dos itens */
}

nav .navbar-nav .nav-link:hover {
    color: #4CAF50;
    text-decoration: underline;
}


/* Formulário */
.container-fluid {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color:  #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Campos de entrada */
.form-label {
    font-weight: bold;
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 8px;
    display: inline-block;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de foco nos campos de entrada */
input[type="text"]:focus {
    border-color:  #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

/* Botão de submit */
.btn-primary {
    background-color: #ffffff;
    color:  #ffffff;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #45a049;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    font-size: 1rem;
    margin-top: 40px;
    color:#333;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 20px;
    }

    .form-label, input[type="text"], .btn-primary {
        font-size: 1rem;
    }
}
